## Libraries imports

In [2]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import numpy as np

## Download Data from the API

In [6]:
!wget "https://data.insideairbnb.com/united-states/ny/new-york-city/2025-10-01/visualisations/listings.csv"

--2025-10-30 09:48:31--  https://data.insideairbnb.com/united-states/ny/new-york-city/2025-10-01/visualisations/listings.csv
Resolving data.insideairbnb.com (data.insideairbnb.com)... 108.157.78.78, 108.157.78.92, 108.157.78.113, ...
Connecting to data.insideairbnb.com (data.insideairbnb.com)|108.157.78.78|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 5688892 (5.4M) [application/csv]
Saving to: ‘listings.csv’

listings.csv        100%[===================>]   5.42M  1.59MB/s    in 3.4s

2025-10-30 09:48:36 (1.59 MB/s) - ‘listings.csv’ saved [5688892/5688892]

## 1. Data Loading and Initial Exploration

In [11]:
# Load the "listings.csv" file
df = pd.read_csv("listings.csv")

# Display first 3 rows
df.head(3)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,2595,Skylit Studio Oasis | Midtown Manhattan Sanctuary,2845,Jennifer,Manhattan,Midtown,40.75356,-73.98559,Entire home/apt,240.0,30,47,2022-06-21,0.24,3,289,0,NaN
1,6848,Only 2 stops to Manhattan studio,15991,Allen,Brooklyn,Williamsburg,40.70935,-73.95342,Entire home/apt,96.0,30,195,2025-06-09,0.98,1,285,3,NaN
2,6872,Uptown Sanctuary w/ Private Bath (Month to Month),16104,Kahshanna,Manhattan,East Harlem,40.80107,-73.94255,Private room,59.0,30,1,2022-06-05,0.02,2,83,0,NaN

In [10]:
df.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm
count,3.611100e+04,3.611100e+04,36111.000000,36111.000000,21328.000000,36111.000000,36111.000000,24923.000000,36111.000000,36111.000000,36111.000000
mean,4.667906e+17,1.756195e+08,40.728253,-73.947350,680.526819,28.610091,27.321232,0.821178,67.455152,162.188724,3.983606
std,5.448721e+17,1.945624e+08,0.056269,0.054995,4480.453282,29.166476,70.308684,1.916104,215.678813,147.262625,19.468284
min,2.595000e+03,1.678000e+03,40.500366,-74.251907,10.000000,1.000000,0.000000,0.010000,1.000000,0.000000,0.000000
25%,2.159416e+07,1.795864e+07,40.688260,-73.983560,89.000000,30.000000,0.000000,0.070000,1.000000,0.000000,0.000000
50%,5.095308e+07,8.832602e+07,40.725960,-73.955000,154.000000,30.000000,3.000000,0.250000,2.000000,150.000000,0.000000
75%,9.747695e+17,3.107737e+08,40.762120,-73.928118,279.000000,30.000000,23.000000,0.900000,9.000000,315.000000,1.000000
max,1.521848e+18,7.214431e+08,40.912017,-73.711822,50104.000000,1124.000000,3736.000000,122.760000,1148.000000,365.000000,1699.000000

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36111 entries, 0 to 36110
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              36111 non-null  int64
 1   name                            36109 non-null  object
 2   host_id                         36111 non-null  int64
 3   host_name                       34945 non-null  object
 4   neighbourhood_group             36111 non-null  object
 5   neighbourhood                   36111 non-null  object
 6   latitude                        36111 non-null  float64
 7   longitude                       36111 non-null  float64
 8   room_type                       36111 non-null  object
 9   price                           21328 non-null  float64
 10  minimum_nights                  36111 non-null  int64
 11  number_of_reviews               36111 non-null  int64
 12  last_review                     24923 non-null  object
 13  reviews_per_month               24923 non-null  float64
 14  calculated_host_listings_count  36111 non-null  int64
 15  availability_365                36111 non-null  int64
 16  number_of_reviews_ltm           36111 non-null  int64
 17  license                         5376 non-null   object
dtypes: float64(4), int64(7), object(7)
memory usage: 5.0+ MB

In [33]:
# Check for missing values
df.isnull().sum()

id                                    0
name                                  2
host_id                               0
host_name                          1166
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                             14783
minimum_nights                        0
number_of_reviews                     0
last_review                       11188
reviews_per_month                 11188
calculated_host_listings_count        0
availability_365                      0
number_of_reviews_ltm                 0
license                           30735
dtype: int64

In [14]:
# Check for any duplicate rows
df.duplicated().any()

False

In [15]:
# Check the dimension of the dataframe
df.shape

(36111, 18)

In [18]:
df.dtypes

id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group                object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                             float64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
number_of_reviews_ltm               int64
license                            object
dtype: object

In [34]:
df.iloc[0]

id                                                                             2595
name                              Skylit Studio Oasis | Midtown Manhattan Sanctuary
host_id                                                                        2845
host_name                                                                  Jennifer
neighbourhood_group                                                       Manhattan
neighbourhood                                                               Midtown
latitude                                                                   40.75356
longitude                                                                 -73.98559
room_type                                                           Entire home/apt
price                                                                         240.0
minimum_nights                                                                   30
number_of_reviews                                                                47
last_review                                                              2022-06-21
reviews_per_month                                                              0.24
calculated_host_listings_count                                                    3
availability_365                                                                289
number_of_reviews_ltm                                                             0
license                                                                         NaN
Name: 0, dtype: object

## 2. Data Cleaning

In [12]:
# Drop rows where 'price' column has missing values
df = df.dropna(subset=["price"])

In [13]:
# Fill missing numerical rows with zero
for cols in df.select_dtypes("number").columns:
    #median_value = df[cols].median()
    df[cols].fillna(0, inplace = True)

In [14]:
# Fill missing categorical rows with 
for cols in df.select_dtypes("object").drop(columns = ["last_review"]).columns:
    fill_value = "Unknown"
    df[cols].fillna(fill_value, inplace = True)

In [18]:
# Fill missing date values for "last_review" column with a placeholder "1970-01-01" , will be noted in other data preprocessing
fill_value = "1970-01-01"
df["last_review"] = df["last_review"].fillna(fill_value, inplace = True)

# Convert date column to datatime
df["last_review"] = pd.to_datetime(df["last_review"])

In [20]:
# check missing values again to ensure everything is ok
df.isnull().sum()

id                                0
name                              0
host_id                           0
host_name                         0
neighbourhood_group               0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
last_review                       0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
number_of_reviews_ltm             0
license                           0
dtype: int64

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21328 entries, 0 to 36109
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              21328 non-null  int64
 1   name                            21328 non-null  object
 2   host_id                         21328 non-null  int64
 3   host_name                       21328 non-null  object
 4   neighbourhood_group             21328 non-null  object
 5   neighbourhood                   21328 non-null  object
 6   latitude                        21328 non-null  float64
 7   longitude                       21328 non-null  float64
 8   room_type                       21328 non-null  object
 9   price                           21328 non-null  float64
 10  minimum_nights                  21328 non-null  int64
 11  number_of_reviews               21328 non-null  int64
 12  last_review                     21328 non-null  datetime64[ns]
 13  reviews_per_month               21328 non-null  float64
 14  calculated_host_listings_count  21328 non-null  int64
 15  availability_365                21328 non-null  int64
 16  number_of_reviews_ltm           21328 non-null  int64
 17  license                         21328 non-null  object
dtypes: datetime64[ns](1), float64(4), int64(7), object(6)
memory usage: 3.1+ MB

## 3. Data Enrichment

In [22]:
df["price_per_booking"] = df["price"] * df["minimum_nights"]

In [23]:
df["availability_category"] = pd.cut(
    df["availability_365"],
    bins=[-float("inf"), 100, 300, float("inf")],
    labels=["Rare", "Part-time", "Full-time"]
)

In [24]:
df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'number_of_reviews_ltm', 'license',
       'price_per_booking', 'availability_category'],
      dtype='object')

## 4. Data Analysis Using Pandas

In [25]:
# What are the top 10 most expensive neighborhoods by average price?
top_10_neighborhoods = (
    df.groupby("neighbourhood")["price"]
      .mean()
      .sort_values(ascending=False)
      .head(10)
      .reset_index()
)

print("Top 10 Most Expensive Neighborhoods by Average Price:")
print(top_10_neighborhoods)

Top 10 Most Expensive Neighborhoods by Average Price:
        neighbourhood        price
0                SoHo  3406.555556
1    Long Island City  2720.723735
2             Midtown  2360.958684
3         Murray Hill  2299.964179
4     Lower East Side  2201.353846
5     Upper West Side  1886.681107
6              Nolita  1796.104167
7           Chinatown  1676.520000
8      Hell's Kitchen  1567.958932
9  Financial District  1338.211957

In [27]:
# What’s the average availability and price by room type?
avg_availability_price = (
    df.groupby("room_type")[["availability_365", "price"]]
    .mean()
    .sort_values(by="price", ascending=False)
    .reset_index()
)

print("\nAverage Availability and Price by Room Type:")
print(avg_availability_price)

Average Availability and Price by Room Type:
         room_type  availability_365         price
0       Hotel room        287.397436  36088.303419
1  Entire home/apt        252.391489    308.588652
2     Private room        247.662038    262.702240
3      Shared room        282.033520    141.044693

In [28]:
# Which host has the most listings?
top_host = (
    df.groupby(["host_id", "host_name"])["id"]
      .count()
      .reset_index(name="listing_count")
      .sort_values(by="listing_count", ascending=False)
      .head(1)
)

print("\nHost with the Most Listings:")
print(top_host)

Host with the Most Listings:
        host_id host_name  listing_count
5230  107434423   Unknown           1037

In [29]:
# How does average price vary across different boroughs or districts?
avg_price_by_districts = (
    df.groupby("neighbourhood_group")["price"]
      .mean()
      .reset_index()
      .sort_values(by="price", ascending=False)
)

print("\nAverage Price Across Boroughs/Districts:")
print(avg_price_by_districts)

Average Price Across Boroughs/Districts:
  neighbourhood_group        price
2           Manhattan  1215.869310
3              Queens   333.332130
1            Brooklyn   247.621593
0               Bronx   130.388889
4       Staten Island   125.556270

In [30]:
# How many listings have never been reviewed?
never_reviewed = df[
    (df["number_of_reviews"] == 0) | (df["last_review"].isna())
]

num_never_reviewed = len(never_reviewed)

print(f"\nNumber of listings never reviewed: {num_never_reviewed}")

Number of listings never reviewed: 6384

### Write a summary of 3–5 key insights you found through your analysis

**Key Insights**

1. Several columns have missing values, notably 'license', 'last_review', and 'reviews_per_month'. The 'license' column has the most missing values.
2. The price distribution is heavily right-skewed, with most listings priced below $500, but a significant number of listings have much higher prices.
3. Brooklyn and Manhattan have the highest number of Airbnb listings.
4. Listing prices vary significantly based on neighbourhood group and room type, with Manhattan and Brooklyn generally having higher median prices and 'Entire home/apt' being the most expensive room type.
5. Most listings have short minimum stay requirements (e.g., 1 or 2 nights), but a noticeable portion requires 30 nights or more.